.form-control {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 48%;
    padding: 10px 0;
}

.main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 2%;
}

.w_100 {
    width: 100% !important;
}

.first {
    max-width: 1000px;
    margin: auto;
}